{{ attach_library('common_design/cd-button') }}
{{ attach_library('common_design_subtheme/cd-export-button') }}

<div class="cd-export-button--wrapper">
  <button class="cd-button cd-button--export cd-button--small">{% trans %}Export to CSV{% endtrans %}</button>
</div>
