//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

.cd-site-logo {
  width: 52px;

  &:focus {
    outline: 3px solid $implementation-highlight;
  }
  // Logo for mobile.
  // sass-lint:disable no-duplicate-properties
  @include max-width(md) {
    background: url('../img/logos/logo-mobile.png') center no-repeat;
    background: linear-gradient(transparent, transparent), url('../img/logos/logo-mobile.svg') center no-repeat;
  }

  @include tablet {
    width: 300px; // width may need to be adjusted depending on logo width.
  }
}
