.path-frontpage {
  .cd-grid-2-col {
    grid-gap: 2rem;
  }

  .cd-grid-2-col .cd-grid-item {
    background-color: transparent;
    margin-bottom: 1rem;
    padding: 2rem;

    @include mobile {
      display: block;
    }

    @include tablet {
      margin-bottom: 0;
    }

    > h2,
    > h3 {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      background-color: $cd-light-grey;
      border-bottom: 3px solid $implementation-highlight;
    }
  }
}

.page-node-type-assessment {
  .block-page-title-block {
    margin-bottom: 1rem;
    border-bottom: 1px solid $cd-mid-bluey-grey;

    @include desktop {
      padding-right: calc(285px + 3rem);
    }
  }

  .page-title {
    padding-bottom: 0;
  }
}

//@TODO this, better.
.cd-filter__btn {
  background: $implementation-primary-dark;
  color: $cd-light-grey;
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  svg {
    width: 2rem;
    height: 2rem;
    padding: 0 0 0 0.5rem;
  }

  &:hover,
  &:focus {
    background: $implementation-primary;
  }

  &:focus {
    outline: 3px solid $implementation-highlight;
  }

  &[aria-expanded] .cd-icon--arrow-down {
    width: 2rem;
    height: 2rem;
  }

  @include tablet {
    // This is needed for IE11
    // No support for CSS custom properties means
    // --dropdown: false; property on nav container is not recognised
    // so the cd-dropdown.js creates a toggler button on desktop
    // This hides it when that happens.
    @media all and (-ms-high-contrast: none) {
      display: none;
    }
  }
}

.cd-filter {
  @include tablet {
    --dropdown: false;

    // This is needed for IE11
    // No support for CSS custom properties means
    // --dropdown: false; property on the dropdown container is not recognised
    // so the cd-dropdown.js does not run the updateToggler function
    // which toggles the data-cd-hidden attribute.
    // This displays the dropdown regardless of that attribute value.
    @media all and (-ms-high-contrast: none) {
      &[data-cd-hidden='true'] {
        display: block;
      }
    }
  }
}
