.path-frontpage {
  .cd-grid-2-col {
    grid-gap: 2rem;
  }

  .cd-grid-2-col .cd-grid-item {
    background-color: transparent;
    margin-bottom: 1rem;
    padding: 2rem;

    @include mobile {
      display: block;
    }

    @include tablet {
      margin-bottom: 0;
    }

    > h2,
    > h3 {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      background-color: $cd-light-grey;
      border-bottom: 3px solid $implementation-highlight;
    }
  }
}

.page-node-type-assessment {
  .block-page-title-block {
    margin-bottom: 1rem;
    border-bottom: 1px solid $cd-mid-bluey-grey;

    @include desktop {
      padding-right: calc(285px + 3rem);
    }
  }

  .page-title {
    padding-bottom: 0;
  }
}
