.path-frontpage {
  .cd-grid-2-col {
    grid-gap: 2rem;
  }

  .cd-grid-2-col .cd-grid-item {
    margin-bottom: 1rem;
    padding: 2rem;

    @include tablet {
      margin-bottom: 0;
    }

    > h2,
    > h3 {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      background-color: $cd-light-grey;
      border-bottom: 3px solid $implementation-highlight;
    }
  }
}

// with sidebar pattern
.cd-layout {

  @include tablet {
    //padding-top: 3rem
    display: flex;
    flex-wrap: wrap;
  }
}

.cd-sidebar {
  flex-basis: 285px;
  flex-grow: 1;
  margin-top: 2rem;
  //background: rgba(yellow, 0.2);
  @include tablet {
    margin-top: 0;
  }
}

.cd-main {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
  //background: rgba(red, 0.2);
}

section.cd-layout-two-col {
  @extend .cd-layout;

  .cd-layout-main-content {
    @extend .cd-main;
  }

  .cd-layout-sidebar-first {
    @extend .cd-sidebar;
    background-color: $cd-light-bluey-grey;
    padding: 1rem;
  }
}

.page-node-type-assessment {
  .block-page-title-block {
    margin-bottom: 1rem;
    border-bottom: 1px solid $cd-mid-bluey-grey;

    @include tablet {
      padding-right: calc(285px + 3rem);
    }
  }

  .page-title {
    padding-bottom: 0;
  }
}
