.block-facets {
  margin-bottom: 2rem;
}

.block-facets h2 {
  @extend .cd-heading-3;
}

.block-facets ul {
  margin: 0;
  padding: 0;
}

.block-facets li {
  list-style-type: none;
}

.facet-item .is-active {
  font-weight: 700;
}

// This emulates the cd-bullet-list component using CSS bg image instead of SVG element in markup.
.block-facet--links li {
  a {
    display: block;
    margin-bottom: 1rem;
    position: relative;
  }

  a::before {
    display: inline-block;
    height: 9px;
    width: 9px;
    margin-right: 1rem;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%5C %3Cpath fill='%23ff4d59' d='M14,48a4,4,0,0,1-2.83-6.83L28.34,24,11.17,6.83a4,4,0,0,1,5.66-5.66l20,20a4,4,0,0,1,0,5.66l-20,20A4,4,0,0,1,14,48Z'/%3E%5C %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.block-facets select {
  width: 100%;
}

// Control select2 select element width when options are wider than parent element.
.block-facets .select2-container--default .select2-search--inline .select2-search__field {
  width: auto !important;
}

.block-facets .select2-container .select2-selection--multiple .select2-selection__rendered {
  white-space: unset;
}
