.block-facets {
  .form-item,
  .form-actions {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.block-facets select {
  width: 100%;
}

// Various overrides to control select2 elements widths when options are wider than parent element.
.block-facets .select2-container {
  overflow: hidden;
}

.block-facets .select2-container--default .select2-search--inline .select2-search__field {
  width: auto !important;
}

.block-facets .select2-container .select2-selection--single .select2-selection__rendered,
.block-facets .select2-container .select2-selection--multiple .select2-selection__rendered {
  white-space: unset;
}

.select2-container--open,
.select2-container--focus,
.item-list__dropdown:focus {
  outline: 2px solid $implementation-highlight;
}

.cd-export-button--wrapper {
  margin-top: -2rem;
  display: flex;
  justify-content: flex-end;
}

.cd-button.cd-button--export {
  margin-bottom: 1rem;

  &:focus {
    outline: 3px solid $implementation-highlight;
  }
}
