.field--label-inline {
  display: block;
  overflow: hidden; // Hack to prevent inline label float issues.
}

.field + .field {
  margin-top: 1rem;
}


// Classy field.css styles.
.field__label {
  font-weight: bold;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: left;
}

.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-right: 0.5em;
}

[dir='rtl'] .field--label-inline .field__label,
[dir='rtl'] .field--label-inline .field__items {
  padding-right: 0;
  padding-left: 0.5em;
}

.field--label-inline .field__label::after {
  content: ':';
}


// Document Store External entity.
.cd-article {
  .cd-form__item {
    display: flex;
    flex-wrap: wrap;

    label {
      flex: 1 0 100%;

      @include tablet {
        margin-right: 0.5rem;
        flex: 0 1 15%;
      }
    }

    textarea {
      width: 100%;
    }

    select,
    textarea {
      @include tablet {
        max-width: 36rem;
      }
    }
  }

  .field--name-field-description .field__item {
    max-width: var(--cd-max-content-width);
  }

  // Document link.
  .field--type-ocha-doc-store-file a {
    word-break: break-word;
  }
}

// Document Store form.
.km-form {
  --cd-flow-space: 2rem;

  // Make h4 look like a label.
  h4,
  legend {
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
    color: $cd-default-text-color;
  }

  h4 {
    margin: 0 0 1rem;
  }

  a.tabledrag-handle .handle {
    width: auto;
    height: auto;
    margin-top: 0;
  }

  .field-multiple-drag a,
  .field-multiple-drag .cd-form__item {
    margin-bottom: 1rem;
  }

  .field--name-field-original-publication-date > div {
    display: flex;
    margin-bottom: 1rem;
  }

  .description {
    flex: 1 0 100%;
  }

  .cd-button + .button--danger {
    margin-left: 0.5rem;
  }

  .field--type-ocha-doc-store-file {
    > div > fieldset {
      margin-bottom: 2rem;
    }

    // Nested fieldset.
    > div > fieldset fieldset {
      margin-bottom: 1rem;
    }

    // Document link.
    a {
      display: block;
      margin-bottom: 1rem;
    }

    .cd-form__item {
      margin-bottom: 1rem;
    }
  }
}

// This will likely change.
.path-km {
  // ID column.
  .cd-table tr td:first-child {
    word-break: break-word;
  }
}
