// Pagination.

.pager__items {
  .pager__item {
    margin: 0 0.5em 0.5em;
    padding: 0;
    display: inline-block;
  }

  .pager__item,
  .pager__item--previous,
  .pager__item--first,
  .pager__item--next,
  .pager__item--last {
    a {
      text-decoration: none;
      display: block;
      padding: 5px 14px;
      background-color: $cd-white;
      border: 1px solid $cd-site-bg-color;
      border-radius: 4px;

      &:hover,
      &:focus {
        color: $implementation-primary;
        background-color: $cd-site-bg-color;
      }
    }

    &.is-active a {
      color: $cd-white;
      background-color: $implementation-primary;
      border-color: $implementation-primary;
    }
  }
}
