//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

h1,
h2,
h3,
h4,
h5 {
  color: $implementation-primary;
}

a {
  color: $implementation-primary;

  &:hover,
  &:focus {
    color: $implementation-primary-dark;
  }
}

.cd-heading-2 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: $implementation-primary;
  border-bottom: 3px solid $cd-blue-grey;
}

.cd-heading-3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: $implementation-primary;
}
