{% embed '@common_design/cd/cd-header/cd-ocha.html.twig' %}

  {% block related_platforms %}
    <li class="cd-ocha-dropdown__link"><a href="https://data.humdata.org">Humanitarian Data Exchange</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://humanitarianresponse.info">Humanitarian Response</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://ir.hpc.tools">Indicator Registry</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://www.kobotoolbox.org">KoBoToolbox</a></li>
  {% endblock %}

{% endembed %}
